<% title "Hotel Manager" %>
<h1>Hotel Manager</h1>

<h2>Property Manager</h2>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= link_to 'See all property listings', hotels_path %>

<h2>Customer Manager</h2>
<%= link_to 'See all Customers', customers_path %>
<%= link_to 'Create new Customer', new_customer_path %>
