<h1>Schedule new Reservation</h1>

<%= form_for [@customer, @booking] do |f| %>
  <div class="field">
    <%= f.label :status, "Status" %><br/>
    <%= f.text_field :status %>
  </div>

  <%= f.submit "Submit" %>
<% end %>
