header {
  background-color: #233141;
  color: #66D9EF;
  height: 6vh;
  font-size: 150%;
  a, a:visited {
    color: inherit;
  }
}

.booking-container {
  align-self: center;
  text-align: center;
}

.booking-thumbnail {
  width: 100%;
}

.logo {
  height: 5vh;
}

.hidden {
  display:none
}
