<div class="booking-container column">
  <div class="booking-thumbnail thumbnail">
<h2><%= title %></h2>
<table>
  <tr>
    <th>Room</th>
    <th>Checkin (4 PM)</th>
    <th>Checkout (11 AM)</th>
  </tr>
  <% bookings.each do |b| %><tr>
    <td><%= b.room.room_number %></td>
    <td><%= b.scheduled_checkin.strftime("%a %b %-d, %Y") %></td>
    <td><%= b.scheduled_checkout.strftime("%a %b %-d, %Y") %></td>
  </tr><% end %>
</table>
</div>
</div>
