<table>
  <tr>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Number of Beds</th>
    <th>Type of Bed</th>
  </tr>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.room_number %></td>
      <td><%= room.room_type %></td>
      <td><%= room.beds %></td>
      <td><%= room.bed_type %></td>
    </tr>
  <% end %>
</table>
